{% extends 'base.html' %} {% block title %}Aluguéis finalizados{% endblock %} {% block content %}

<br>
<span class="text-left">
    <a href="{% url 'home' %}">
        <i class="icofont-home icons home"></i>
        <label style="font-weight: bold;">Home</label>
    </a>
</span>
<div class="container col-md-12">
    <h1>Aluguéis finalizados</h1>
    <table class="table">
        <thead class="table-dark table-active">
            <tr>
                <th scope="col">Veículo</th>
                <th scope="col">Cliente</th>
                <th scope="col">Data do aluguel</th>
                <th scope="col">Data de retorno</th>
                <th scope="col">Data da devolução</th>
                <th scope="col">Preço final - R$</th>
            </tr>
        </thead>
        <tbody>
            {% for rental in rentals %}
            <tr>
                <td>{{rental.id_carro}}</td>
                <td>{{rental.id_cliente}}</td>
                <td>{{rental.data_aluguel}}</td>
                <td>{{rental.data_retorno}}</td>
                <td>{{rental.data_atualizacao}}</td>
                <td class="text-center">{{rental.preco}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}