{% extends 'base.html' %} {% load static %} {% block title %}Lista de aluguéis{% endblock %} {% block content %}

<br>
<span class="text-left">
    <a href="/">
        <img src="{% static 'assets/images/back.png' %}" alt="Voltar" class="icons">
        <label style="font-weight: bold;">Voltar</label>
    </a>
</span>
<div class="container col-md-10">
    <h1>Aluguéis vigentes</h1>
    <table class="table">
        <thead class="table-dark table-active">
            <tr>
                <th scope="col">Veículo</th>
                <th scope="col">Cliente</th>
                <th scope="col">Data do aluguel</th>
                <th scope="col">Data de retorno</th>
            </tr>
        </thead>
        <tbody>
            {% for rental in rentals %}
            <tr>
                <td><a href="rental/{{rental.id}}">{{rental.id_carro}}</a></td>
                <td>{{rental.id_cliente}}</td>
                <td>{{rental.data_aluguel}}</td>
                <td>{{rental.data_retorno}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}