{% extends 'base.html' %} {% block title %}Lista de carros{% endblock %} {% block content %}

<br>
<span class="text-left">
    <a href="{% url 'home' %}">
        <i class="icofont-home icons home"></i>
        <label style="font-weight: bold;">Home</label>
    </a>
</span>
<div class="container col-md-8">
    <h1>Lista de carros da loja</h1>
    <table class="table">
        <thead class="table-dark table-active">
            <tr>
                <th scope="col">Marca</th>
                <th scope="col">Modelo</th>
                <th scope="col">Cor</th>
            </tr>
        </thead>
        <tbody>
            {% for car in cars %}
            <tr>
                <td><a href="{% url 'car_details' id=car.id %}">{{car.marca}}</a></td>
                <td>{{car.modelo}}</td>
                <td>{{car.cor}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}