{% extends 'base.html' %} {% load static %} {% block title %}Informações adicionais - veículo{% endblock %} {% block content %}

<br>
<span class="text-left">
    <a href="../">
        <img src="{% static 'assets/images/back.png' %}" alt="Voltar" class="icons">
        <label style="font-weight: bold;">Voltar</label>
    </a>
</span>
<div class="container col-md-8">
    <h1 class="text-center">{{client.nome}}, {{client.cpf_cnpj}}</h1>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title text-center">Nascimento: {{client.nascimento}}</h5>
                    </div>
                    <div class="card-body">
                        <img src="{% static 'assets/images/user.png' %}" class="user-img" alt="Carro">
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">RG: {{client.rg}}</li>
                            <li class="list-group-item">Celular: {{client.celular}}</li>
                            <li class="list-group-item">E-mail: {{client.email}}</li>
                            <li class="list-group-item">Endereço: {{client.endereco}}</li>
                            <li class="list-group-item">Nº: {{client.num}}</li>
                            <li class="list-group-item">Bairro: {{client.bairro}}</li>
                            <li class="list-group-item">Complemento: {{client.complemento}}</li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <a href="../edit_client/{{client.id}}" class="card-link"><span style="font-weight: bold;">Editar informações</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}